body {
    background-color: lightgrey;
}

#board { 
    border:1px solid #000000;
    margin: auto;
    display: block;
    background-color: white;
}

h1 {
    margin: auto;
    display: block;
    text-align: center;
}

#main {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: auto;
    user-select: none;
}

dialog {
    border:3px solid #000000;
    padding: 0;
    margin: 40.5%;
    margin-top: 4.75%;
    width: 300px;
    height: 75px;
    position: absolute;
    z-index: 10;
    font-size: 0;
}

button {
    margin: auto;
    display: block;
}

img {
    display: none;
}